/* mg
*--------------------------------------*/

.c-mg {
    &--bottom60 {
        margin-bottom: 60px;
    }
    &--bottom16 {
        margin-bottom: 16px;
    }
    &--bottom43 {
        margin-bottom: 43px;
    }
}