/* section-title
*--------------------------------------*/
@use "../../foundation/mixin" as *;

.p-section-title {
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
    &::before {
        border-top: 1px solid;
        content: "";
        width: 20%;
    }
    &::after {
        border-top: 1px solid;
        content: "";
        width: 20%;
    }
}
@include breakpoint(sp) {
    .p-section-title {
        margin-bottom: 20px;
    }
}